para {
        
    background-color:  #FBF1F1;
    max-width: 800px;
    margin: auto  ;
    padding: 12px;    
}

para h2{
    font-weight:900 ;
    padding: 12px;
}

para p{
    padding: 12px;
    font-weight: 600;
}

